.side_bar {
    height: 100vh;
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 1rem;
    background-color: rgb(54, 142, 54);
    z-index: 100;
    position: relative;

    @media (max-width: 968px) {
        position: fixed;
        min-width: 20rem;
        max-width: 30rem;
        left: -100%;
        transition: 0.2s ease;
    }

    .toggle_bar {
        display: none;
        position: absolute;
        right: -1rem;
        top: 1rem;
        background-color: rgb(54, 142, 54);
        width: 3.2rem;
        height: 3.2rem;
        padding: 0.3rem;
        border-radius: 50%;
        cursor: pointer;

        @media (max-width: 968px) {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        img {
            width: 100%;
            height: 100%;
            pointer-events: none;
        }
    }

    .sidebar_header {
        height: 15%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .sidebar_logo {
            width: 3rem;
            height: 3rem;
            padding: 0.5rem;
            box-sizing: content-box;
            background-color: #ffba10;
            border-radius: 0.5rem 0 0 0.5rem;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .sidebar_name {
            font-size: 1.5rem;
            background-color: green;
            height: 3rem;
            color: #f9f8fe;
            border-radius: 0 0.5rem 0.5rem 0;
            padding: 0.5rem 1rem;
            box-sizing: content-box;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: context-menu;

            @media (max-width: 1366px) {
                font-size: 1.35rem;
            }
        }
    }

    .sidebar_lists {
        height: 70%;
        width: 100%;

        .sidebar_list_items {
            list-style: none;
            padding-left: 0;

            li {
                padding: 1.2rem 0 1.2rem 3rem;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                color: rgb(222, 217, 217);
                margin-bottom: 0.5rem;
                border-radius: 1rem;
                font-weight: 500;
                cursor: pointer;
                transition: 0.2s ease;

                @media (max-width: 1366px) {
                    padding-left: 2rem;
                }

                &:hover {
                    background-color: #f9f8fe4c;
                }

                img {
                    margin-right: 0.8rem;
                    width: 1.8rem;
                    filter: invert(100%);
                    pointer-events: none;
                }
                span {
                    font-size: 1.25rem;
                    pointer-events: none;
                }
            }

            li.active {
                background-color: #f9f8fe4c;
            }
        }
    }

    .sidebar_footer {
        height: 15%;
        display: flex;
        justify-content: center;
        align-items: center;

        .logout {
            display: flex;
            justify-content: center;
            align-items: center;
            color: rgb(222, 217, 217);
            cursor: pointer;

            &:hover {
                i {
                    margin-right: 1.25rem;
                }
            }

            i {
                margin-right: 0.75rem;
                font-size: 1.35rem;
                transition: 0.2s ease;
            }
            span {
                font-size: 1.2rem;
            }
        }
    }
}

.expand {
    .side_bar {
        @media (max-width: 968px) {
            left: 0%;
        }
    }
}
