.section {
    width: 100vw;
    height: 100vh;
    position: relative;

    .coverDiv {
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        right: 0;
        overflow: hidden;
        animation: cover 1s linear infinite;
    }

    img {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    // @keyframes cover {
    //     0% {
    //         height: 100%;
    //     }
    //     100% {
    //         height: 0%;
    //     }
    // }

    &:nth-child(2n) {
        img {
            top: 0;
            transform: rotateY(180deg) scale(-1);
        }
    }

    .flag_container {
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .flag {
        position: absolute;
        width: 45%;
        height: 60%;
        top: 20%;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
            background-color: green;
            height: 100%;
            width: 10%;
            animation: animate 2s infinite alternate;
            // border-radius: 0.25rem;

            @keyframes animate {
                50% {
                    margin-top: 10rem;
                    transform: scale(1.1);
                }
            }
            &:nth-child(1) {
                background-position: -10% 0;
                animation-delay: 0.1s;
            }

            &:nth-child(2) {
                background-position: -20% 0;
                animation-delay: 0.3s;
            }
            &:nth-child(3) {
                background-position: -30% 0;
                animation-delay: 0.5s;
            }
            &:nth-child(4) {
                background-position: -40% 0;
                animation-delay: 0.7s;
            }
            &:nth-child(5) {
                background-position: -50% 0;
                animation-delay: 0.9s;
            }
            &:nth-child(6) {
                background-position: -60% 0;
                animation-delay: 1.1s;
            }
            &:nth-child(7) {
                background-position: -70% 0;
                animation-delay: 0.5s;
            }
            &:nth-child(8) {
                background-position: -80% 0;
                animation-delay: 0.7s;
            }
            &:nth-child(9) {
                background-position: -90% 0;
                animation-delay: 0.9s;
            }
            &:nth-child(10) {
                background-position: -100% 0;
                animation-delay: 1.1s;
            }
            &:nth-child(11) {
                background-position: -100% 0;
                animation-delay: 1.3s;
            }
            &:nth-child(12) {
                background-position: -100% 0;
                animation-delay: 1.5s;
            }
            &:nth-child(13) {
                background-position: -100% 0;
                animation-delay: 1.7s;
            }
            &:nth-child(14) {
                background-position: -100% 0;
                animation-delay: 1.9s;
            }
            &:nth-child(15) {
                background-position: -100% 0;
                animation-delay: 2.1s;
            }

            &:nth-child(16) {
                background-position: -100% 0;
                animation-delay: 2.3s;
            }
        }

        .bdcircle {
            position: absolute;
            width: 20rem;
            height: 20rem;
            background-color: red;
            border-radius: 54% 46% 62% 38% / 46% 52% 48% 54%;
            opacity: 0.8;
            z-index: 1;
            animation: imgBox 2s linear infinite alternate-reverse;

            @keyframes imgBox {
                0% {
                    border-radius: 30% 70% 70% 30% / 30% 45% 55% 70%;
                }
                33% {
                    border-radius: 40% 60% 50% 50% / 56% 44% 56% 44%;
                }

                66% {
                    border-radius: 60% 40% 35% 65% / 51% 68% 32% 49%;
                }

                100% {
                    border-radius: 30% 70% 70% 30% / 30% 45% 55% 70%;
                }
            }
        }
    }

    .flag_element {
        position: relative;
        background: green;
        background-size: 300px 100%;
        width: 0.1rem;
        height: 100%;
        display: inline-block;
        animation: wave 1s ease-in-out infinite alternate;
    }

    @keyframes wave {
        0% {
            top: 5%;
        }
        100% {
            top: -5%;
        }
    }
}
