@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
:focus {
  outline: none;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 4.2rem;
  font-weight: 900;
  line-height: 5rem;
  text-transform: uppercase;
  color: var(--primary-heading);
  margin-bottom: 5rem;
}

p {
  color: #666464;
}

.small-container {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  width: 90rem;
  margin: auto;
}

.back-top {
  background: #666464;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  position: fixed;
  right: 3.5rem;
  bottom: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  padding: 0.7rem;
}

.back-top i {
  color: #fff;
  text-align: center;
}

section {
  margin: 13rem 0;
}

.cmn-heading {
  text-align: center;
}

.degreeContent {
  /* header */
  /* subject*/
  /* ability section */
  /* Facility section */
}

.degreeContent .banner {
  background: url("../../img/pages/banner.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 53.9rem;
  position: relative;
}

@media screen and (max-width: 768px) {
  .degreeContent .banner {
    height: 100% !important;
  }
}

.degreeContent .banner .banner-wrap {
  background: linear-gradient(108deg, #1ba94c 65%, transparent 65%);
  width: 43%;
  height: 53.9rem;
}

@media screen and (max-width: 768px) {
  .degreeContent .banner .banner-wrap {
    width: 60%;
    height: 43rem;
  }
}

.degreeContent .banner .banner-wrap .banner-content {
  height: 53.9rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 12;
  width: 25%;
  background: #1ba94c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 3rem;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .degreeContent .banner .banner-wrap .banner-content {
    width: 42%;
    height: 43rem;
  }
}

.degreeContent .banner .banner-wrap .banner-content h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 2rem;
  width: 80%;
}

@media screen and (max-width: 768px) {
  .degreeContent .banner .banner-wrap .banner-content h1 {
    font-size: 3.5rem;
  }
}

.degreeContent .banner .banner-wrap .banner-content small {
  font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
  .degreeContent .banner .banner-wrap .banner-content small {
    width: 90%;
    font-size: 1.25rem;
  }
}

.degreeContent .banner .banner-wrap .banner-angle {
  background: linear-gradient(108deg, rgba(27, 169, 76, 0.5) 65%, transparent 65%);
  width: 50%;
  height: 53.9rem;
  position: absolute;
  top: 0;
  left: 2%;
}

@media screen and (max-width: 768px) {
  .degreeContent .banner .banner-wrap .banner-angle {
    width: 80%;
    height: 43rem;
  }
}

.degreeContent .subject {
  margin: 5rem auto;
}

.degreeContent .subject .card {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  width: 15rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0 0.1rem 0.1rem #1ba94d;
          box-shadow: 0 0 0.1rem 0.1rem #1ba94d;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

@media screen and (max-width: 576px) {
  .degreeContent .subject .card {
    margin: 2rem;
    border-bottom-left-radius: 5rem;
    border-top-right-radius: 5rem;
  }
}

.degreeContent .subject .card .card-title {
  font-size: 1.25rem;
}

.degreeContent .subject .card .sub-img {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.degreeContent .subject .card .sub-img img {
  width: 60%;
  height: 60%;
  background-color: #fff;
  -o-object-fit: cover;
     object-fit: cover;
}

.degreeContent .subject .card.science .sub-img {
  border: 0.3rem solid #1ba94c;
}

.degreeContent .subject .card.commerce {
  -webkit-box-shadow: 0 0 0.1rem 0.1rem #f05323;
          box-shadow: 0 0 0.1rem 0.1rem #f05323;
}

.degreeContent .subject .card.commerce .sub-img {
  border: 0.3rem solid #f05323;
}

.degreeContent .subject .card.arts {
  -webkit-box-shadow: 0 0 0.1rem 0.1rem #d31c5a;
          box-shadow: 0 0 0.1rem 0.1rem #d31c5a;
}

.degreeContent .subject .card.arts .sub-img {
  border: 0.3rem solid #d31c5a;
}

.degreeContent .subject .card:hover {
  border-bottom-left-radius: 5rem;
  border-top-right-radius: 5rem;
}

.degreeContent .subject .card::before {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: #1ba94c;
  width: 100%;
  height: 100%;
  left: -10%;
  top: 10%;
  font-size: 2rem;
  opacity: 0.8;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
  border-radius: 1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 576px) {
  .degreeContent .subject .card::before {
    -webkit-transform: scale(1);
            transform: scale(1);
    left: -5%;
    top: 5%;
  }
}

.degreeContent .subject .card::after {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: #1ba94c;
  width: 100%;
  height: 100%;
  right: -10%;
  top: -10%;
  opacity: 0.8;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transform-origin: right top;
          transform-origin: right top;
  border-radius: 1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 576px) {
  .degreeContent .subject .card::after {
    -webkit-transform: scale(1);
            transform: scale(1);
    right: -5%;
    top: -5%;
  }
}

.degreeContent .subject .card:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
  left: -5%;
  top: 5%;
}

.degreeContent .subject .card:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
  right: -5%;
  top: -5%;
}

.degreeContent .subject .card.commerce::after, .degreeContent .subject .card.commerce::before {
  background-color: #f05323;
}

.degreeContent .subject .card.arts::after, .degreeContent .subject .card.arts::before {
  background-color: #d31c5a;
}

.degreeContent .faculty .card {
  border-radius: 0.6rem;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.degreeContent .faculty .card .btn {
  font-size: 1.25rem;
}

@media screen and (max-width: 576px) {
  .degreeContent .faculty .card {
    max-width: 30rem;
  }
  .degreeContent .faculty .card .btn {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 577px) {
  .degreeContent .faculty .card:hover {
    -webkit-transform: translateY(-0.4rem);
            transform: translateY(-0.4rem);
    -webkit-box-shadow: 0 0 0.5rem 0 #00000073;
            box-shadow: 0 0 0.5rem 0 #00000073;
  }
}

.degreeContent .faculty .card .card-title {
  font-size: 1.5rem;
  cursor: default;
}

.degreeContent .faculty .card.science a {
  border-color: 0.2rem solid #1ba94c;
  background-color: #1ba94c;
  color: #fff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.degreeContent .faculty .card.science .card-footer:hover a {
  border-color: #1ba94c;
  background-color: transparent;
  color: #1ba94c;
}

.degreeContent .faculty .card.commerce a {
  border-color: 0.2rem solid #f05323;
  background-color: #f05323;
  color: #fff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.degreeContent .faculty .card.commerce .card-footer:hover a {
  border-color: #f05323;
  background-color: transparent;
  color: #f05323;
}

.degreeContent .faculty .card.arts a {
  border-color: 0.2rem solid #D31C5A;
  background-color: #d31c5a;
  color: #fff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.degreeContent .faculty .card.arts .card-footer:hover a {
  border-color: #d31c5a;
  background-color: transparent;
  color: #d31c5a;
}

.degreeContent .ability p {
  font-size: 1.6rem;
  margin: 1.5rem auto;
  line-height: 1.5;
  color: #383838;
}

.degreeContent .ability-head {
  margin-bottom: 7rem;
}

.degreeContent .ability-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  margin-bottom: 4rem;
}

.degreeContent .ability-content img {
  margin-bottom: 0.5rem;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.degreeContent .ability-content img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.degreeContent .ability-content small {
  font-size: 1.25rem;
  font-weight: 500;
  text-align: center;
}

.degreeContent .facility .lab-img {
  width: 70%;
  height: 20rem;
}

@media screen and (max-width: 991px) and (min-width: 769px) {
  .degreeContent .facility .lab-img {
    width: 85%;
  }
}

.degreeContent .facility .lab {
  position: relative;
  margin: 4rem 0;
}

.degreeContent .lab-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
}

.degreeContent .lab-content {
  width: 15rem;
  height: 6rem;
  border-radius: 1rem;
  background: #d31c5a;
  color: #fff;
  font-size: 1.8rem;
  position: absolute;
  bottom: -2.5rem;
  right: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 991px) and (min-width: 769px) {
  .degreeContent .lab-content {
    right: 1rem;
  }
}

.degreeContent .green {
  background: #1ba94c;
}

.degreeContent .maroon {
  color: #98002e;
}

.degreeContent .yellow {
  color: #eea90a;
}

.degreeContent .yellow-back {
  background-color: #eea90a;
}

.degreeContent .maroon-light {
  color: #e5185b;
}

.degreeContent .apply .button,
.degreeContent .faculty .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.degreeContent .apply .button .btn,
.degreeContent .faculty .button .btn {
  position: relative;
  padding: 0.5rem 5rem;
  color: #98002e;
  border-radius: 0.5rem;
  -webkit-box-shadow: inset 0 0 0.2rem 0.1rem #98002e;
          box-shadow: inset 0 0 0.2rem 0.1rem #98002e;
  font-weight: 700;
  font-size: 1.6rem;
  margin: 0 0.7rem;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-transform: 0.3s ease;
          transform: 0.3s ease;
}

@media screen and (min-width: 577px) {
  .degreeContent .apply .button .btn::before,
  .degreeContent .faculty .button .btn::before {
    content: "";
    position: absolute;
    background-color: #98002e;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
    width: 150%;
    height: 800%;
    left: 50%;
    top: 100%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    border-radius: 50%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .degreeContent .apply .button .btn:hover::before,
  .degreeContent .faculty .button .btn:hover::before {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.degreeContent .faculty .card-footer {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0;
}

.degreeContent .faculty .button .btn::before {
  content: "SEE ALL FACULTY MEMBERS";
}

.degreeContent .apply .button .btn::before {
  content: "Choose Government College As Your Next Destination";
}

@media screen and (max-width: 768px) {
  .degreeContent html {
    font-size: 52%;
  }
  .degreeContent .sub-footer {
    background-position: left;
    background-size: cover;
    height: 45rem;
  }
  .degreeContent .facility .lab-img {
    margin: auto;
  }
  .degreeContent .button-group .btn {
    padding: 1rem 3rem;
  }
  .degreeContent .small-container {
    width: 40rem;
    margin: auto;
  }
  .degreeContent .banner-wrap {
    background: linear-gradient(108deg, #1ba94c 65%, transparent 65%);
    width: 43%;
    height: 43.9rem;
  }
  .degreeContent .banner-angle {
    background: linear-gradient(108deg, rgba(27, 169, 76, 0.5) 65%, transparent 65%);
    height: 43.9rem;
  }
}
/*# sourceMappingURL=hsc.css.map */