.summary_section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .progress_summary {
        width: 100%;
        @media (max-width: 576px) {
            justify-content: space-around !important;
        }
        .status {
            font-size: 2rem;
            width: 10rem;
            height: 10rem;
            display: flex;
            justify-content: center;
            align-items: center;

            @media (max-width: 576px) and (min-width: 340px) {
                width: 12rem;
                height: 12rem;
            }
        }
    }

    .result {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem 0;

        .result_heading {
            width: 100%;
            font-size: 1.5rem;
            padding: 1rem 0;
            margin: 1rem;
            font-weight: 500;
            text-align: center;

            @media (max-width: 768px) {
                font-size: 1.3rem;
            }

            @media (max-width: 576px) and (min-width: 340px) {
                font-size: 1.5rem;
            }
        }

        .result_lists {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            .result_card {
                position: relative;
                max-width: fit-content;
                padding: 1rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 0.5rem;
                text-align: center;
                transition: 1s;
                .outer {
                    position: relative;
                    width: 10rem;
                    height: 10rem;
                    box-shadow: inset 0.1rem 0.1rem 1rem 0.5rem gray;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    @media (max-width: 576px) and (min-width: 340px) {
                        width: 12rem;
                        height: 12rem;
                    }
                }

                .inner {
                    width: 7.5rem;
                    height: 7.5rem;
                    box-shadow: 0.1rem 0.1rem 1rem 0.5rem gray;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    @media (max-width: 576px) and (min-width: 340px) {
                        width: 9rem;
                        height: 9rem;
                    }

                    @media (max-width: 340px) {
                        width: 8rem;
                        height: 8rem;
                    }

                    .percent {
                        font-size: 2rem;
                        font-weight: 500;

                        @media (max-width: 768px) {
                            font-size: 1.8rem;
                        }
                    }
                }

                svg {
                    display: inline-block;
                    width: 13.25rem;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(-90deg);

                    @media (max-width: 768px) {
                        width: 13.25rem;
                    }

                    @media (max-width: 576px) and (min-width: 340px) {
                        width: 16rem;
                    }
                }
            }
        }
    }
}

.teacher_pannel {
    .summary_section {
        .progress_summary {
            // flex-direction: column;
            // justify-content: center;
            // align-items: center;
            .result {
                .result_lists {
                    .result_card {
                        .status {
                            font-size: 3rem;
                            width: 14rem;
                            height: 14rem;
                            @media (max-width: 768px) {
                                font-size: 2.5rem;
                            }

                            @media (max-width: 480px) {
                                width: 10rem;
                                height: 10rem;
                                font-size: 2rem;
                            }
                        }

                        .outer {
                            width: 14rem;
                            height: 14rem;

                            @media (max-width: 480px) {
                                width: 10rem;
                                height: 10rem;
                            }
                        }

                        .inner {
                            width: 11rem;
                            height: 11rem;

                            @media (max-width: 480px) {
                                width: 8rem;
                                height: 8rem;
                            }

                            .percent {
                                font-size: 3rem;
                                font-weight: 500;

                                @media (max-width: 768px) {
                                    font-size: 2.5rem;
                                }

                                @media (max-width: 480px) {
                                    font-size: 2rem;
                                }
                            }
                        }

                        svg {
                            width: 19rem;

                            @media (max-width: 480px) {
                                width: 13.4rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
